body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #FFD700, #FFD700);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    text-align: center;
}

.container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    color: #000;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: translate(50%, -50%);
}

h1 {
    color: #000;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: calc(100% - 24px);
    height: 120px;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    resize: vertical;
}

button {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 10px 0; /* Add margin to ensure spacing */
}

button:hover {
    background-color: #FFC107;
}

.footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-ok-button {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}